
  <section id="pricing" class="pricing_area pt-120 pb-130">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-6">
     <div class="section_title text-center pb-25">
    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Pricing Plans</h4>
    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Lorem ipsum dolor sit
    amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p>
    </div> 
    </div>
    </div> 
    <div class="row justify-content-center">
    <div class="col-lg-4 col-md-8 col-sm-10">
    <div class="single_pricing text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
    <h4 class="pricing_title">Startup</h4>
    <span class="price">$240</span>
    <ul class="pricing_list">
    <li>Startup Business</li>
    <li>Business Consulting</li>
    <li>Business Analysis</li>
    <li>Corporate Business</li>
    <li>Business Investment</li>
    </ul>
    <a href="#" class="mian-btn">Order Now</a>
    </div> 
    </div>
    <div class="col-lg-4 col-md-8 col-sm-10">
    <div class="single_pricing text-center mt-30 active wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
    <h4 class="pricing_title">Agency</h4>
    <span class="price">$340</span>
    <ul class="pricing_list">
    <li>Startup Business</li>
    <li>Business Consulting</li>
    <li>Business Analysis</li>
    <li>Corporate Business</li>
    <li>Business Investment</li>
    </ul>
    <a href="#" class="mian-btn">Order Now</a>
    </div> 
    </div>
    <div class="col-lg-4 col-md-8 col-sm-10">
    <div class="single_pricing text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
    <h4 class="pricing_title">Enterprise</h4>
    <span class="price">$440</span>
    <ul class="pricing_list">
    <li>Startup Business</li>
    <li>Business Consulting</li>
    <li>Business Analysis</li>
    <li>Corporate Business</li>
    <li>Business Investment</li>
    </ul>
    <a href="#" class="mian-btn">Order Now</a>
    </div> 
    </div>
    </div> 
    </div> 
    </section>
    