 
  <section id="testimonial" class="testimonial_area pt-130 pb-130 bg_cover" style="background-image: url(assets/images/testimonial.jpg)">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-8">
    <div class="glide testimonial_active">
    <div class="glide__track" data-glide-el="track">
    <div class="glide__slides">
    <div class="glide__slide single_testimonial text-center">
    <img src="assets/images/author-1.jpg" alt="author">
    <h5 class="author_name">Linda</h5>
    <span>UX Specialist, Yoast</span>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
    </p>
    </div>
     <div class="glide__slide single_testimonial text-center">
    <img src="assets/images/author-2.jpg" alt="author">
    <h5 class="author_name">Nancy</h5>
    <span>Sr. Software Engineer</span>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
    </p>
    </div>
    <div class="glide__slide single_testimonial text-center">
    <img src="assets/images/author-3.jpg" alt="author">
    <h5 class="author_name">Elon Musk</h5>
    <span>Creaitve Businessman</span>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
    </p>
    </div>
    </div>
    </div>
    <div class="glide__bullets" data-glide-el="controls[nav]">
    <button class="glide__bullet" data-glide-dir="=0"></button>
    <button class="glide__bullet" data-glide-dir="=1"></button>
    <button class="glide__bullet" data-glide-dir="=2"></button>
    </div>
    </div>
    </div>
    </div> 
    </div> 
    </section>