
  <section id="services" class="features_area pt-120">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-6">
    <div class="section_title text-center pb-25">
    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Our Services</h4>
    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Lorem ipsum dolor sit
    amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p>
    </div> 
    </div>
    </div> 
    <div class="row">
    <div class="col-lg-4 col-md-6">
    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
    <i class="lni lni-briefcase"></i>
    <h4 class="features_title">Digital Business</h4>
    <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore magna .</p>
    </div> 
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
    <i class="lni lni-clipboard"></i>
    <h4 class="features_title">Startup Business</h4>
    <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore magna .</p>
    </div> 
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
    <i class="lni lni-target-revenue"></i>
    <h4 class="features_title">Business Investment</h4>
    <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore magna .</p>
    </div> 
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
    <i class="lni lni-invention"></i>
    <h4 class="features_title">Business Solutions</h4>
    <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore magna .</p>
    </div> 
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
    <i class="lni lni-bar-chart"></i>
    <h4 class="features_title">Business Analysis</h4>
    <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore magna .</p>
    </div> 
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
    <i class="lni lni-calendar"></i>
    <h4 class="features_title">Consulting Business</h4>
    <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore magna .</p>
    </div> 
    </div>
    </div> 
    </div> 
    </section>